/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




.header_design{
    min-height: 107px;
    background-color:black;
}

.navbar_wrap{
    padding-top: 25px;
}

.navbar_castom{
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    border: none;
    
}

.nav li a{
    color: white !important
}

.logo{
    padding-top: 17px;
}

.header_image{
    background: url(../img/bg-pic.png) no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 649px
}

.header_content{
    margin: 185px auto;
    width: 41%;
}
.header_content h1{
    text-transform: uppercase;
    font-size: 80px;
    color: white;
    font-weight: bold;
    
}
.header_content .see_details{
    color: white;
    background: black;
    border: none;
    padding: 12px 25px;
    font-weight: bold;
    float: right;
    margin-top: 50px
}


/*Slider CSS*/

.slider_content{
    text-align: center
}
.slider_content h1{
    text-transform: uppercase;
    font-size: 48px;
    font-weight: bold;
}
.slider_content p{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal
}
.slider_content p i{
    font-size: 30px
}

.multi-item-carousel .carousel-inner > .item {
  -webkit-transition: 500ms ease-in-out left;
  transition: 500ms ease-in-out left;
}
.multi-item-carousel .carousel-inner .active.left {
  left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {
  left: 33%;
}
.multi-item-carousel .carousel-inner .next {
  left: 33%;
}
.multi-item-carousel .carousel-inner .prev {
  left: -33%;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .item {
    -webkit-transition: 500ms ease-in-out left;
    transition: 500ms ease-in-out left;
    -webkit-transition: 500ms ease-in-out all;
    transition: 500ms ease-in-out all;
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
    -webkit-transform: none!important;
            transform: none!important;
  }
}
.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
  background-image: none;
}


.carousel{
    background-color: white;
}

.white_bg_row{
    background-color: white;
    padding-top: 40px
}

.shadow_remove{
    background-image: none !important;
}

.shadow_remove i{
    color: gray;
    font-size: 300px;
    margin-top: 30px
}

.achivement_bg{
    background: url(../img/mount-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 900px;
   margin-top: 150px
}

.achive_content {
    width: 40%;
    position: relative;
    left: 14%;
    top: 200px;
}
.achive_content h2{
    color: white;
    font-size: 48px;
    margin-bottom: 70px;
    font-weight: bold
}
.achive_content p{
    color: white;
    font-size: 15px;
}

.feature{
    margin-top: 125px
}

.feature_content{
     margin-bottom: 80px;
    text-align: center
}
.feature_content h1{
     text-transform: uppercase;
    font-size: 48px;
    font-weight: bold;
}
.feature_content i{
    font-size: 30px
}

.single_feature>a>img{
    width: 100%
}

.single_feature p{
    font-size: 16px;
    color: #000000;
    text-transform: capitalize;
    margin-top: 10px
}


.footer_bg{
    background: #000;
    min-height: 395px;
    margin-top: 80px
    
}

.footer_content{
    padding-top: 50px
}
.footer_content h2{
    text-transform: uppercase;
    font-size: 17px;
    font-weight:bold;
    margin-bottom: 20px;
    color: white
}
.footer_content ul{
    list-style: none;
    padding-left: 0px
}
.footer_content ul li{
    color: #c9c9c9;
    font-size: 14px;
    padding-bottom: 10px;
    text-align: left
}

.btn_styl{
    background: #c7c7c7;
    color: black;
    font-weight: bold;
    font-size: 14px;
    border: none;
    padding: 3px 5px;
}

.footer_icon{
    margin-top: 60px;
}


.footer_icon>a>i{
    color: white;
    padding-right: 18px;
    font-size: 18px
}



.footer_bottom{
    margin-top: 68px;
    color: white
}

.region{
    float: right;
    text-transform: capitalize
}
.change_sty{
    padding-left: 10px
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
